/target
/android/.gradle
/android/build
/android/app/build
/android/app/src/main/jniLibs
/android/local.properties
/android/app/google-services.json
/android/gradlew
/android/gradlew.bat
/android/gradle/wrapper/gradle-wrapper.jar
